body {
    margin: 25px;
    background-color: #ffffff;
    font-family: arial, sans-serif;
    font-size: 14px;
  }
  
p{
    margin: 25px;
    background-color: #ffffff;
    font-family: arial, sans-serif;
    font-size: 14px;
}

ul > li {
    color: #404040;
}

  /* Applies to all <h1>...</h1> elements. */
  h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }

  h2{
    font-family: Arial, Helvetica, sans-serif;
  }

  h3{
    font-family: Arial, Helvetica, sans-serif;
  }

a{
    border-style: solid;
    border-color: #ff0000;
    background-color: #ff1000;
    color: #ffffff;
}

h5{
    color: yellow;
}

h6{
    color:blue;
}

h4{
    color: coral;
}

strong {
    color: #0000ff;
}

#bailey-video{
    height: 345px;
    width: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-button{
    border-style: solid;
    border-color: #000000;
    background-color: #100000;
    color: #ff0000;
}

a:hover {
    background-color: #ffffff;
    border-color: #ff0000;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.learn-more{
    color: #ff0000;
}

ul.b {
    list-style-type: square;
  }